body {
  background-color: rgb(25,25,25);
  color: white;
  background-image: linear-gradient(rgba(249, 242, 242, 0.922), rgb(8, 75, 48));    
  height: 70vh;
  background-image: url("../../0-1-1 Images/Rock_Paper_Scissors_cartoon-3.webp");
  background-repeat: no-repeat, repeat;
  background-size: 30%; 
  background-position: center; 
}
.js-score {

    font-family: cursive;
 
    margin-left: 13%;
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: rgb(119, 187, 242);
    text-shadow:
        5px 5px 0 #bbb3b3,
      -1px -1px 0 #dfd6d6,  
       -5px -5px 0 #606261,
       -1px 1px 0 #a10d61,
        1px 1px 0 #000000;
  }    

  .move-icon {
    height: 50px;
  }

  .btn {
    margin-left: 40%;
    margin-top: 13%;
  }
  .move-button {
    margin-top: 15%;
    background-color: transparent;
    border: 3px solid rgb(119, 202, 235);
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 14px 14px 30px rgba(211, 205, 205, 0.925);
  }

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
}    

.score {
  margin-top: 0px;
} 

.auto-play-button,
.reset_score_button {
  font-family: cursive;
  background-color: rgb(119, 202, 235);
  border: 2px;
  font-size: 25px;
  padding: 22px 115px;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 14px 14px 30px rgba(211, 205, 205, 0.925);
}

.auto-play-button {margin-left: 1%;}
.reset_score_button {margin-left: 30%;}

