body {
    background: linear-gradient(to right, #e4eaec, #6dc8e7, #2c5364);
    font-family: 'Poppins', sans-serif;
}



  /*                                ----   QA Test Grid   -----                   */

.grid-header {
  display: grid;
  text-align: center;
  font-size: 20px;
  word-wrap: break-word;
  grid-template-columns: 25% 25% 23% 23%; 
  font-weight: 900;
}


.test-grid {
  display: grid;
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  grid-template-columns:  5% 5% 5% 5% 5% 1% 
                          5% 5% 5% 5% 1% 
                          5% 5% 5% 5% 5% 1%
                          5% 5% 5% 5% 5% ; 
}

.a1 {
  background-color: rgba(248, 252, 247, 0.973);
  border: solid;
  } 
  
.a2 {
  background-color: rgba(248, 252, 247, 0.973);
  font-size: 20px;
  border: solid;
  }    

.a3 {
  background-color: rgba(176, 254, 221, 0.584);
  font-size: 20px;
  border: solid;
  }    

.a4 {
  background-color: rgba(254, 242, 176, 0.584);
  font-size: 20px;
  border: solid;
  }    


   /*                                ----   Rules CSS   -----                   */   
#form {
    width: 300px;
    margin: 5vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {js
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.icon {
    margin: 20px;
    height: 50px;
  }
  
  img {height: 50px;}
  
  
  .t {
    color: rgb(246, 239, 240);
    font-size: 50px;
    padding-left: 40%;
    }


   /*                                ----   Header CSS   -----                   */
   
    header {
       background: linear-gradient(to right , rgba(56, 194, 236, 0.026), #052a46ca);
       height: 100px;
        grid-row: 1/2;
        grid-column: 1/9;
        }
   
  
   
    header h1 {
       line-height: 120%;
       padding: 1rem;
       margin-bottom: 0px;
       margin-top: 20px;
       z-index: 100;
       }
   
    .title {
      padding: 400px;
         color: white;
   
         }
   
   
     nav {
       font-weight: bold;
       grid-row: 2/3;
       grid-column: 1/-1;
       position: sticky;
       top: 0;
       background-color: #424242;
       z-index: 100;
       }
   
    .navbar {
        overflow: hidden;
        background-color: #333;
        color: black;
   
        padding-left: 1500px;
        }
   
   .navbar a:hover, .dropdown:hover .dropbtn {
       background-color: red;
       }
   
   /*                                ----   Font CSS   -----                   */
   
     .p3 { font-family: Fantasy, copperplate; font-size:20px}
     .p4 {font-size:20px}
     .p2 {margin-top: -10px}
   
     .font {font-family: Fantasy, copperplate; padding-left: 30px}
     .copperPlate {font-family: Fantasy, copperplate}
   
   /*                                ----   Video CSS   -----                   */
   
   .video_class {z-index: 1;}
   
   .large-image {
      position: relative;
      width: 100%;
      background: black;
      z-index: 1;
      }
   
   
   /*                                ----   Body  CSS   -----                   */
   
   
   
     .body-title {
        position: absolute;
        top: 600px;
        color:black;
        border-width: 1px;
        padding-left: 100px;
        font-size: 50px;
        font-family: Fantasy, copperplate;
        z-index: 100;
        }
  
   
   /*                                ----   Wrapper Method   -----                   */
   #wrapper {
     box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
     display: grid;
     grid-auto-rows: minmax(0px, auto);
     z-index: 3;
     grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
   }
   
   main {
     padding-left: 2rem;
     padding-right: 2rem;
     grid-row: 4 / 5;
     grid-column: 2 / 8;
     background-color: #ffffff;
     z-index: 3;
   }
   
   
   * {box-sizing: border-box;}
   
   nav ul{
     list-style-type: none;
   }
   nav ul li{display: inline;
   }
   
   
   nav ul {
     margin: 0px;
     padding: 0px;
     display: flex;
     flex-flow: row nowrap;
     list-style-type: none;
     z-index: 1;
   }
   
   nav ul li {width: 100%;}
   
   nav a:hover {background-color: #ba1c21;}
   
   
   
   /*                   -----------    Buttons   --------------------*/
   
   
   
   .dropbtn {
     width: 100%;
     background-color: #424242;
     font-size: 20px;
     border: none;
     font-family: "Fantasy", copperplate;
     color: white;
     opacity: .5;
     z-index: 500;
           }
   
   .dropdown {
     position: relative;
     display: inline-block;
     font-size: 15px;
     text-decoration: none;
     z-index: 500;
     }
   
   .dropdown-content {
    background: white;
    text-align: left;
    display: none;
    font-family: "Fantasy", copperplate;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
    }
   
   .dropdown-content a {
    text-align: left;
    color: black;
    width: 350px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 500;
    }
   
    .btnDiv {
      display: grid;
      grid-template-columns: 50% 50%;
    }
      
    .left {
      display: grid;
      grid-template-columns: 30% 50% 0% ;
  
      
    }
    .btn {
      margin-top: 20%;
      text-align: center;
      color:rgba(234, 230, 230, 0.715);
      font-size: 40px;
      border: solid;
      background-color: #ffffff0b;
      opacity: .6;
      border-radius: 25px;
      text-decoration: none;
    }
    .btn2 {
      margin-top: 20%;
      text-align: center;
      color:rgba(234, 230, 230, 0.013);
      font-size: 40px;
      border: solid;
  
  
      border-radius: 25px;
    }
  
  
   .dropbtn:hover {background-color: red;cursor: pointer;}
   .dropdown:hover .dropdown-content {display: block; }
   
   
   
   /*                                     Media Queries                             */
   
   
   @media only screen and (max-width: 1100px){
     .wrapper{
         grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
     }
   }
     ::selection{
         float: none;
         width: 100%;
         padding-right: 0px;
         }
         }
   
   @media screen and (max-width: 600px) {
     header h1{
         background-image: none;
         text-align: center;
         z-index: 3;
         }
     nav{
         grid-row: 2 / 3;
         grid-column: 1 / 9;
         }
     }
   
   /*                                     Media Queries                             */
  
   span {color: rgb(151, 145, 145);}
  .hrow {
      font-weight:bold;
      color: #aba7a7;
      font-size: 20px;
      }
      .hrow td{
      padding-top: 40px;
      width: 200px;
      }

